<div>
  <table>
    <tr>
      <th>Dato</th>
      <th>Tema</th>
      <th>Agenda</th>
      <th>Referat</th>
    </tr>
{% assign agendas = site.agenda %}
{% assign agenda_revers = agendas | reverse %}
{% assign referats = site.referat %}
{% assign referat_revers = referats | reverse %}
{% assign nummer = 0 %}
{% for mote in agenda_revers %}
{% assign moteref = site.referat[nummer] %}
{% nummer = nummer + 1 %}
<tr>
  <td>{{ mote.dato }}</td>
  <td>{{ mote.title }}</td>
  <td><a href="/best-practice-material/{{ mote.url }}">{{ mote.tema }}</a></td>
  <td><a href="/best-practice-material/{{ moteref.url }}">Referat møte nr {{ nummer }} </a></td>
</tr>
{% endfor %}
  </table>
</div>